{% extends 'news/base.html' %}


{% block title %}
<h1>{{ news.category }}</h1>
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block readmore %}
<div class="row">
    <div class="col-md-10">
        <div class="card-header">
            <h5 class="card-title">{{ news.title }}</h5>
        </div>
        <div class="card-body">
<!--            <h5 class="card-title">{{ news.title }}</h5>-->
            <p class="card-text">{{ news.content }}</p>
            <p class="card-title">{{ news.created_at }}</p>
        </div>
        <div class="card-footer text-muted">
            <h5 class="card-title">{{ news.category }}</h5>
        </div>
    </div>
</div>
{% endblock %}